################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InsuranceApp.Api/bin/Debug/net8.0
/InsuranceApp.Api/obj
/InsuranceApp.Data/bin/Debug/net8.0
/InsuranceApp.Data/obj
/TODO.txt
/.vs
